{% block content %}
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&display=swap"
    rel="stylesheet">
  <title>Url Shortner</title>
  <style>
    body {
      font-family: 'Baloo Thambi 2', cursive;
    }
  </style>
</head>

<body>

<div class="container shadow p-4" style="margin-top:50px">
    <div class="row">
        <div class="col-12 text-center py-2">
            <h3>Shorten A Url</h3>
        </div>
        <div class="col-10 col-sm-10 col-md-6 mx-auto">

            {% if messages %}
            {% for msg in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ msg }}

                <button type="button" class="close" data-dismiss="alert" area-label="Close">
                    <span area-hidden-true>&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}

            <form action="{% url 'generate' %}" method="POST">
                {% csrf_token %}

                <div class="row form-group">
                    <div class="col-8"><input type="url" name="original" class="form-control" placeholder="Original Url"></div>
                    <div class="col-4"><input type="submit" class="btn btn-primary px-4" value="Generate Short URL"></div>
                </div>
            </form>

            <form action="{% url 'get_orignal_url' %}" method="POST">
                {% csrf_token %}

                <div class="row form-group">
                    <div class="col-8"><input type="url" name="short_url" class="form-control" placeholder="Short Url"></div>
                    <div class="col-4"><input type="submit" class="btn btn-primary px-4" value="Get Orignal URL"></div>
                </div>
            </form>
            <div>
                {% if short_url %}
                <div class="container shadow p-4 alert alert-success">
                    <p>Shorten URL :
                        <a href="{{ orignal_url }}" target="_blank" class="card-link">http://localhost:8000/{{ short_url }}</a>
                    </p>
                </div>
                {% elif orignal_url %}
                <div class="container shadow p-4 alert alert-success">
                    <p>Orignal URL :
                        <a href="{{ orignal_url }}" target="_blank" class="card-link">{{ orignal_url }}</a>
                    </p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<div class="container my-4">
    <div class="row">
        <div class="col-12 text-center">
            <h4>Your Url's</h4>
        </div>
    </div>
    <div class="row justify-content-between">
        {% for key,value in urls.items %}
        <div class="col-10 col-sm-10 col-md-6 mb-2 mx-auto">
            <div style="overflow: hidden;" class="customcontainer p-2">
                <p style="text-overflow: ellipsis;">Original : <a href="{{ key }}" target="_blank"
                        class="card-link">{{ key }}</a>
                </p>
                <p>Shorten : <a href="{{ key }}" target="_blank"
                        class="card-link">http://localhost:8000/{{ value }}</a></p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<style>
    .customcontainer {
        min-width: 100%;
        border: 2px solid #1d1d1d;
        border-radius: 5px;
        max-width: 100%;
        height: 100%;
    }
</style>

</body>

</html>

{% endblock %}